

img#gauche{
  height:: 10px;
}



    .etats{
      background: url('css/images/Fond jeu .jpg')  ;
      background-size:  contain;
      flex-grow: 1;
      display: flex;
      justify-content: space-around;
      height: 30px;
      margin-right: 20px ;
      margin-top: 220px;
    }




    ul.gauche,.droite{
      display:flex;
      justify-content: space-between;
      padding-top:6vh;
      padding-bottom:6vh;
    }
    #gauche.J1{
      height: 10px;
      width: 10%;
      height: 50px;
      padding-top:6vh;
      padding-bottom:6vh;
    }
    .gauche{
      padding-left: 20px;
      margin-right: 20px;
    }
    ul.droite{
      padding-right: 6vw;
      margin-left: 20vw;
    }



    li#gauche,#droite{
      height: 11vh;
      display:flex;
      justify-content: center;
      align-items: center;
    }



/* STYLES POUR NAVIGATION */
header {
  }
nav {
  padding: 5rem;



}




nav ul {
  display: flex;
  justify-content: space-between;
  list-style:  none;
  color:#031706;



}



nav a {
  display: block;
  background-color: transparent;
  padding: 1em;
  background-color: rgba(255, 255,255, 0.6);
  color: white;
  padding:1rem 3rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5em;
}
nav a:hover{
  background-color: rgb(255, 255, 255);
  color: #002d30;
}




/* STYLES POUR NAVIGATION 01 */




#section01{
background: url('images/A.jpg')no-repeat top center;
  background-size:cover;;
  background-attachment: scroll;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: inherit;
  min-height: 900px;




}




.boutton{
  background-color: rgb(255, 245, 150);
  color: #002d30;
  padding:3rem;
  min-width: 3em;
  text-align: center;
  text-decoration: none;
  display:block;
  margin: 4px 2px;
  margin-top: 9rem;
  border-radius: 10rem;



}
.boutton:hover{
  background-color: rgb(255, 255, 255);



}



.carousel {
    margin-left: 0%;
    margin-right: 0%;
    background-color:#002d30;
}



ul.slides {
    display: block;
    position: relative;
    height: 590px;



    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
}



.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}



ul.slides input {
    display: none;
}




.slide-container {
    display:  contents;
}



.slide-image {
    display: block;
    position:  absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    transition: all .7s ease-in-out;
}



.slide-image img {
    width: auto;
    min-width: 100%;
    height: 100%;
}



.carousel-controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    font-size: 100px;
    line-height: 600px;
    color: #fff;
}



.carousel-controls label {
    display: none;
    position: absolute;
    padding: 0 20px;
    opacity: 0;
    transition: opacity .2s;
    cursor: pointer;
}



.slide-image:hover + .carousel-controls label{
    opacity: 0.5;
}



.carousel-controls label:hover {
    opacity: 1;
}



.carousel-controls .prev-slide {
    width: 49%;
    text-align: left;
    left: 0;
}



.carousel-controls .next-slide {
    width: 49%;
    text-align: right;
    right: 0;
}



.carousel-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    z-index: 999;
    text-align: center;
}



.carousel-dots .carousel-dot {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 75%;
    background-color: #fff;
    opacity: 0.5;
    margin: 10px;
}



input:checked + .slide-container .slide-image {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}



input:checked + .slide-container .carousel-controls label {
     display: block;
}



input#img-1:checked ~ .carousel-dots label#img-dot-1,
input#img-2:checked ~ .carousel-dots label#img-dot-2,
input#img-3:checked ~ .carousel-dots label#img-dot-3,
input#img-4:checked ~ .carousel-dots label#img-dot-4,
input#img-5:checked ~ .carousel-dots label#img-dot-5,
input#img-6:checked ~ .carousel-dots label#img-dot-6 {
    opacity: 1;
}




input:checked + .slide-container .nav label { display: block; }







    }
    .GAME{
        background-color:#002d30 ;
        border-radius: 10px;
        padding: .5rem;
        display: flex;
        flex-direction: column;
    }



    .GAME img {
        width: 100%;}






#GAMES{
  height: 30px;
  width: 60px;
  color: white;
  opacity: 40%;
  display: flex;
  justify-content: center;
  border-radius: 30px;
}



#section01 h1{
  color : #fff596;
  font-size: 8em;
  text-align: center;



}



/*STYLES POUR SECTION 03 */
#section04 {
  text-align: center;
  justify-content: center;
  font-size: 40PX;
  cursor: wait;



}



#section03 {



    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;



}
.Game-info-card{
  position:absolute;
  radius:15px;
  height: 150px;
  margin: 1em;
  padding: 1em;
  background:rgb(255, 255, 255);
  border-radius: 5em;
  flex-basis: 320px
  flex-background:1;
}






#section02 {
  text-align: center;
  justify-content: center;




  }
#section05 {



display: flex;
align-items: center;
justify-content: center;
padding-top: 3em;
padding-bottom: 3em;



border-style: dotted;
  border-width:5px;



  border-color:white;
}
#section06{
  position: fixed;
  background:#002d30;
  background-size: cover;
  background-attachment: fixed;
  font-size: 1em;
  padding-left: 24em ;
  padding-right: 24em ;
  text-align: justify;
  color : black;
  align-items: center;



  padding-top: 10em;
  padding-bottom: 3em;




}




body {  background:#002d30;
  }







  footer{
    background: url('images/foret.jpg')no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
  color : rgb(255, 255, 255);
  font-size: 10px;
  justify-content: center;



}
