body {
  background: url('images/fond.gif') top center no-repeat;
  background-size: cover;
}

img {
  width: 100%;
}

.panneaux {
  position: absolute;
  top: 4vh;
  left: 1vw;
  max-width: 180px;
}

.panneaux #menu {
  transform: rotate(-15deg);
}

.panneaux #intero {
  transform: rotate(-25deg);
}

.paneaux-list li {
  margin-bottom: 1em;
}

main {
  display: flex;
  justify-content: space-between;
}

#etats {
  margin-top: 20vh;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

#etats > div {
  flex-basis: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rive_gauche {
  align-self: flex-start;
}

.rive_droite {
  align-self: flex-end;
}

aside {
  flex-basis: 15vw;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 2em 2.75em;
  margin: 1em;
  border-radius: 1em;
}


/* ### Position des personages rive gauche ### */

#etats ul {
  display: flex;
  max-width: 320px;
  flex-wrap: wrap;
  justify-content: space-evenly;

}

#etats li {
  flex-basis: 120px;
  flex-shrink: 1;
  transform: rotate(-25deg);
}


/*


#intero {
  position: relative;
  left: -150px;
}





.personnages_rg li {
  border: 0px solid red;
  flex-basis: 120px;
  flex-shrink: 1;
  position: relative;
  left: 331px;
  top: 116px;
}

#J5, #J2 {
  position: relative;
  top: -30px;
}

.action {
  background-color: white;
  display: flex;
  max-width: 320px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  transform: rotate(-20deg);
}

.action li {
  border: 0px solid red;
  position: relative;
  left: 900px;
  bottom: : 100px;
}

#action1 {
  width: 500px
}

#action2 {
  position: relative;
  top: 50px;
}

#action7 {
  position: relative;
  top: -15px;
}

main {
  display: flex;
  justify-content: space-between;
}


/*#j1{

height: 10%;
width: 10%;
pad-left: 40px;
margin-top: 100px;

}

#J2{
  height:7%;
  width: 7%;
}

#J3{
  height:10%;
  width: 10%;
}

#J4{
  height:10%;
  width: 10%;
}
*/
